# Byte-compiled / cache files
__pycache__/
*.py[cod]

# Virtual environment
venv/
.venv/

# Environment file
.env        # <- ignore only this file

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Editor configs
.vscode/
.idea/
